/* ==========================================================================
   LAYOUT.CSS
   Styly pro opakující se strukturní prvky (Hlavička, Navigace, Patička).
   ========================================================================== */

/* --- 1. HLAVIČKA (Header) --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  width: 100%;
  background-color: var(--bg-black);
  position: sticky;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  display: block;
  background-image: url("../pictures/netflix-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 120px;
  height: 45px;
}

/* --- 2. NAVIGACE (Nav) --- */
nav {
  display: flex;
  flex-wrap: wrap; /* Pro velmi malé displeje (300px) se odkazy hezky zalomí */
  gap: 20px;
  justify-content: center; /* Na mobilu vycentrujeme */
}

/* Odkazy v navigaci */
nav a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease; /* Plynulá změna barvy při najetí myší */
}

nav a:hover {
  color: var(--netflix-red);
}

/* --- 3. PATIČKA (Footer) --- */
/* --- Patička --- */
footer {
  background-color: var(--bg-black);
  padding: 60px 10%; /* Velké odsazení zleva a zprava */
  margin-bottom: 20px;
}

.footer-links {
  display: grid;
  /*  Vytvoří sloupce o minimální šířce 180px, zbytek místa se rovnoměrně rozdělí */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer-links a {
  color: var(--text-muted);
  text-decoration: underline;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--text-primary); /* Po najetí myší odkaz zesvětlá */
}
/* ==========================================================================
   TABLET (min-width: 768px)
   ========================================================================== */
@media (min-width: 768px) {
  header {
    height: 80px;
  }
  .logo {
    width: 150px;
    height: 55px;
  }
  nav {
    justify-content: flex-start;
  }
}
